/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    background-color: #333;
    background-image: url(images/bgDark.svg);
    background-size: cover;
    color: #333;
    transition: all 2s;
    font-family: "Gaegu";
    overflow: hidden;
    height: 100dvh;
}

body.switch {
    background-color: rgb(235, 235, 235);
    background-image: url(images/bgLight.svg);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
}

header {
    margin: 0 auto 2em auto;
}

h2 {
    margin-top: 0px;
    text-align: right;
    color: #9FA4CA;
    margin-right: 30px;
    margin-top: 20px;
}

h2.switch {
    color: #9A8A6C;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    flex: 1;
    margin: 0 .25em;
    padding: 1em;
    padding-bottom: 0px;
    position: absolute;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#metalGrid {
    position: absolute;
    z-index: -2;
    left: 150px;
    top: 50px;
}

#corkBoard {
    position: absolute;
    z-index: -1;
    left: 400px;
    top: 120px;
}

#lightString {
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 2;
}

#darkFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-image: url(images/darkFilter.svg);
    display: none;
    pointer-events: none;
}



h3 {
    font-size: 1.5rem;
    margin-top: 0px;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#projects {
    left: 430px;
    top: 190px;
    background-color: #CCD7F9;
}

#toolKit {
    left: 440px;
    top: 470px;
    background-color: #F4D2F8;
}

#research {
    left: 680px;
    top: 240px;
    background-color: #F6FBAA;
}

#development {
    left: 980px;
    top: 200px;
    background-color: #BDF9E8;
}

#capstone {
    left: 850px;
    top: 510px;
    background-color: #FFC5BD;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #333;
}

section a:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
    border-radius: 10px;
}

button {
    position: absolute;
    top: -5px;
    left: 20px;
    color: #333;
    background-color: rgba(0,0,0,0);
    border: none;
    z-index: 3;
}

button:hover {
    cursor: pointer;
}

button.switch {
    border-color: #333;
}

button.switch:hover {
    color: rgb(235, 235, 235)
}
